@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {

    /* Font */
    --font-sans: 'Poppins', ui-sans-serif, system-ui, sans-serif;

    /* Calm UI Colors */
    --color-primary: #294A6D;
    --color-background: #F5F7FB;
    --color-surface: #FCFCFD;
    --color-softBlue: #DCEAFE;
    --color-input: #F4F4F6;

    /* Radius */
    --radius-card: 32px;
}